GRAPHDB_HOST=https://m273cdcavdcfb43422873.sandbox.graphwise.ai
GRAPHDB_REPOSITORY=myRepo
GRAPHDB_USERNAME=user@gmail.com
GRAPHDB_PASSWORD=password

# Get a free key at https://console.groq.com/keys
GROQ_API_KEY=your-groq-api-key
